<hr>
<form method="POST" action="createDirectoryHandle.php">
    Directory name<br><input type="text" placeholder="Directory Name to create..." name="mkdir"><br>
    <input type="submit" value="submit">
</form>